<div>{{title}}</div>
<div>
    <button (click)="consoleLog()">ConsoleLog</button>
</div>
<div>
    <button (click)="changeTitle()">Change Title</button>
</div>
<div>
    <button (click)="addStore()">Add Store</button>
</div>
<div>
    <button (click)="addStoreNewArray()">Add Store New Array</button>
</div>
<div>
    <button (click)="changeUserName()">Change User Name</button>
</div>

<div>
    <app-store-list [storeList]="storeList"></app-store-list>
</div>

<div>
    <app-fruits-list [fruitsList]="fruitsList"></app-fruits-list>
</div>

<div>
    <app-user [userName]="userName"></app-user>
</div>
